$main-color: red;
@import 'header';

@mixin buttonStyle {
    background: $main-color;
    border: 0;
    padding: 5px 10px;
    color: #fff;
}

section {
    background-color: $main-color;
}

footer button {
    @include buttonStyle
}